.calcContainer{
    margin: 10% auto;
    background-color: darkgray;
    padding: 2% 2% 2% 2%;
    background-color: cadetblue;
    width: 500px;
    height: 300px;
    
}
.buttonContainer{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    /* grid-template-areas: "ac ac ac division "
                          "8 8 9 mutitply"
                          "4 5 6 subtract"
                          "1 2 3 add"
                          "zero dot equals" */
}

.calcDisplay{
    display: grid;
    padding: 5px 20px 5px 20px;
    background-color: darksalmon;
    border-radius: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2 1fr);
}
.calcDisplay > p{
    text-align: right;

}


#clear{
    grid-column: 1 /span 2;
}

#equals{
    grid-column: 3 /span 2;
}

.expressionContainer{
    display: flex;
    justify-content: space-between;
}
.resultContainer{
    display: flex;
    justify-content: space-between;
}

/* #expressionMsg #result{
    float: left;
}
#inputString{
    float: right;
} */
