body{
    background-color: #fcb439;
}

h1{
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

.calcContainer{
    margin: 1% auto;
    background-color: #212121;
    padding: 2% 2% 2% 2%;
    width: 30%;
    border-radius: 11px;
    
}
.buttonContainer{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.calcDisplay{
    display: grid;
    padding: 5px 20px 5px 20px;
    background-color: #f8f8f8;
    border-radius: 11px;
    margin-bottom: 20px;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2 1fr);
}
.calcDisplay{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.0em;
}


#clear{
    grid-column: 1 /span 2;
}

#equals{
    grid-column: 3 /span 2;
}

.expressionContainer{
    display: flex;
    justify-content: space-between;
}
.resultContainer{
    display: flex;
    justify-content: space-between;
}

button{
    display:inline-block;
    padding:0.9em 0.5em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:white;
    background-color: #616161;
    text-align:center;
    font-size: 20px;  
    border-radius: 70px;  
}

button:hover{
    color:#000000;
    background-color:#FFFFFF;
    transform: scale(1.1);
}

